<h2 mat-dialog-title class="modal-title">Preguntas registradas:</h2>

<mat-dialog-content>
    <mat-form-field class="example-full-width">
        <mat-label>Realiza tu pregunta</mat-label>
        <textarea matInput placeholder="..." class="custom-textarea" (keyup.enter)="addInput($event)"></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Selecciona el tipo</mat-label>
        <mat-select>
            <mat-option value="one">Implícito</mat-option>
            <mat-option value="two">Explícito</mat-option>
            <mat-option value="three">Crítico</mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
    <button mat-button class="dialog-button" (click)="onNoClick()">Cancelar</button>
    <button mat-button class="dialog-button" (click)="openFirstDialog()">Regresar</button>
    <button mat-button class="dialog-button" routerLink=".\.\components\adminC\cursos\cursos.component.html"
        (click)="onNoClick()" cdkFocusInitial>Finalizar</button>
</mat-dialog-actions>