<div>
    <div>
      <div class="container-fluid">
        <div class="row flex-nowrap">
          <div class="col-auto col-md-2" id="sid">
            <app-sidebar></app-sidebar>
          </div>
          <div class="col min-vh-100" style="padding:0;background-color:#F5F5F5;margin-left: 15rem;">
            <div class="page-body" style="padding:3rem">
              <main>
                <router-outlet></router-outlet>
              </main>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>