span{
    margin-left:5px;
    font-size:16px;
    font-weight: 400;
    font-family: 'Open sans',sans-serif;
    cursor: pointer;
    
}
.nav-link mat-icon {
    margin-bottom: -5px; 
}
:host ::ng-deep .nav-link mat-icon {
    margin-top: 10px; 
}
img{
    margin-top: 10px;
    margin-bottom: 30px;
}
 mat-icon {
    margin-top: 10px; 
}
a.nav-link{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
}
.nav-link{
    color:#003F56;
    
}
#log{
    font-size:20px;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
}
#arie{
    display: grid;
}
.collapse-item {
    margin-bottom: 10px;
    background-color: gray;
    padding: 0.5rem;
}
.nav-link.active{
    background-color: #31708E; /* azul oscuro */
color: #FFFFFF; /* texto blanco */
    border-right: solid  #003E55;
    border-radius: 0;
}
.container-fluid{
    background-color: #A9E1E9;
}
#log{
    margin-bottom: 3rem;
}
span{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.2em;
    font-weight: 600;
}
.img{
    width: 50%;
    height:150px;
    background-image: url("../../../../assets/sombrero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}