<div class="container-fluid vh-100" style="padding:0">
    <a class="d-flex text-decoration-none text-black p-4">
        <h1>Imagen</h1>
    </a>
    <ul class="nav nav-pills flex-column" id="menu">
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/admin/cursos">
                <span class="d-sm-inline">Cursos</span>
            </a>
        </li>
        <li  class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/admin/evaluaciones">
                <span class="d-sm-inline">Evaluaciones</span>
            </a>
        </li>
    </ul>
</div>