.cont {
    max-width: 30rem;
    padding-top: 4rem;
    height: 100vh;
}

.pa {
    background-color: #A9E1E9;
    height: 100vh;
}

div img {
    width: 30%;
    margin-bottom: 2rem;
}

.btn {
    background-color: #003E55;
    color: white;
    width: 10rem;
    margin-top: 3rem;
}

#log{
    margin-bottom: 3rem;
}
.img{
    width: 50%;
    height:150px;
    background-image: url("../../../../assets/sombrero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}
.card {
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.example-container mat-form-field+mat-form-field {
    margin-left: 8px;
}
label{
    margin-top: 5px;
}
.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
    appearance: textfield;
    
}
