<div class="conte-flex">
    <div *ngFor="let curso of cursos.cur">
        <mat-card class="curso-card divi-card-flex" appearance="outlined">
            <mat-card-header>
            <div mat-card-avatar class="curso-header-image"></div>
            <mat-card-title>{{curso.nombre}}</mat-card-title>
            <mat-card-subtitle>{{getAulaNombre(curso.idCur)}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://www.vocaeditorial.com/blog/media/plan-lector-primaria-1175x783.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
            <p>{{curso.descripcion}}</p>
            </mat-card-content>
            <div class="btnC">
                <mat-card-actions class="btnC">
                <button mat-button>Ingresar</button>
                </mat-card-actions>
            </div>
            
        </mat-card>
    </div>
</div>



    


  

  
