<!-- Tabla de Profesores -->
<app-table>
    <thead>
        <tr class="text-start" id="enc">
            <th *ngFor="let item of encabezadoProfesores">{{item}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let profesor of profesoresFiltrados()">
            <td>{{profesor.user}}</td>
            <td>{{profesor.email}}</td>
            <td>
                <div *ngFor="let asignacion of profesor.asignaciones">
                    <strong>{{getCursoNombre(asignacion.cod_curso)}}</strong>
                    <ul>
                        <li>{{asignacion.grado}} {{asignacion.seccion}}</li>
                    </ul>
                </div>
            </td>
            <td class="text-start">
                <a type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <mat-icon style="color: black;">more_vert</mat-icon>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a mat-button>Manage credentials</a>
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</app-table>


